@model FlightsASPMVC.Models.employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>employee</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.additional_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.additional_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_of_flights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_flights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hours_in_flights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hours_in_flights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hire_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hire_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_dismissal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_dismissal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_medical_examination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_medical_examination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.childrencount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.childrencount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airport1.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airport1.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brigade1.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brigade1.comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
