@model FlightsASPMVC.Models.sorties_in_month

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>sorties_in_month</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id)
                @Html.ValidationMessageFor(model => model.id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plane_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.plane_id)
                @Html.ValidationMessageFor(model => model.plane_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plane_model_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.plane_model_name)
                @Html.ValidationMessageFor(model => model.plane_model_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.team, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.team)
                @Html.ValidationMessageFor(model => model.team)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passenger_capacity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.passenger_capacity)
                @Html.ValidationMessageFor(model => model.passenger_capacity)
            </div>
        </div>

        @Html.HiddenFor(model => model.bought)

        <div class="form-group">
            @Html.LabelFor(model => model.free, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.free)
                @Html.ValidationMessageFor(model => model.free)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sortie_start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sortie_start)
                @Html.ValidationMessageFor(model => model.sortie_start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sortie_delta_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sortie_delta_time)
                @Html.ValidationMessageFor(model => model.sortie_delta_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.landing_start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.landing_start)
                @Html.ValidationMessageFor(model => model.landing_start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.landing_delta_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.landing_delta_time)
                @Html.ValidationMessageFor(model => model.landing_delta_time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
