@model IEnumerable<FlightsASPMVC.Models.sorties_in_month>

@{
    ViewBag.Title = "Index";
}

<h2>Flight schedule for a month</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plane_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plane_model_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passenger_capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.free)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortie_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortie_delta_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.landing_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.landing_delta_time)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plane_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plane_model_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passenger_capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.free)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sortie_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sortie_delta_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landing_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landing_delta_time)
        </td>
    </tr>
}

</table>
