@model FlightsASPMVC.Models.flight_class_stat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>flight_class_stat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.plane_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plane_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plane_model_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plane_model_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avg_passenger_capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avg_passenger_capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avg_bought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avg_bought)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avg_free)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avg_free)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avg_sortie_delta_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avg_sortie_delta_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avg_delta_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avg_delta_time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
