@model IEnumerable<FlightsASPMVC.Models.flight_class_stat>

@{
    ViewBag.Title = "Flight class stats";
}

<h2>Flight class stats</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_passenger_capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_bought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_free)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_sortie_delta_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_delta_time)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_passenger_capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_bought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_free)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_sortie_delta_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_delta_time)
        </td>
    </tr>
}

</table>
