@model FlightsASPMVC.Models.baggage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>baggage</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment)
                @Html.ValidationMessageFor(model => model.comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.owned_by, "owned_by", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("owned_by", String.Empty)
                @Html.ValidationMessageFor(model => model.owned_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.receipt_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.receipt_date)
                @Html.ValidationMessageFor(model => model.receipt_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.return_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.return_date)
                @Html.ValidationMessageFor(model => model.return_date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
