@model FlightsASPMVC.Models.ticket

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ticket</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.flight, "flight", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("flight", String.Empty)
                @Html.ValidationMessageFor(model => model.flight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.owner, "owner", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("owner", String.Empty)
                @Html.ValidationMessageFor(model => model.owner)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.place, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.place)
                @Html.ValidationMessageFor(model => model.place)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
