@model FlightsASPMVC.Models.sorties_with_passengers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>sorties_with_passengers</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.start)

        @Html.HiddenFor(model => model.name)

        <div class="form-group">
            @Html.LabelFor(model => model.lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastname)
                @Html.ValidationMessageFor(model => model.lastname)
            </div>
        </div>

        @Html.HiddenFor(model => model.place)

        @Html.HiddenFor(model => model.baggages_count)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
