@model IEnumerable<FlightsASPMVC.Models.pilots_with_med_examination>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additional_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_of_flights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hours_in_flights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_dismissal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.childrencount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additional_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_of_flights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours_in_flights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_dismissal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.childrencount)
        </td>
    </tr>
}

</table>
