@model IEnumerable<FlightsASPMVC.Models.planes>

@{
    ViewBag.Title = "Planes";
}

<h2>Planes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.airline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passenger_capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.airline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passenger_capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
    </tr>
}

</table>
