@model IEnumerable<FlightsASPMVC.Models.delayed_landings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delta_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delta_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
    </tr>
}

</table>
