@model FlightsASPMVC.Models.pilots_without_med_examination

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>pilots_without_med_examination</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        @Html.HiddenFor(model => model.name)

        <div class="form-group">
            @Html.LabelFor(model => model.lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastname)
                @Html.ValidationMessageFor(model => model.lastname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.patronymic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patronymic)
                @Html.ValidationMessageFor(model => model.patronymic)
            </div>
        </div>

        @Html.HiddenFor(model => model.phone)

        <div class="form-group">
            @Html.LabelFor(model => model.additional_phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.additional_phone)
                @Html.ValidationMessageFor(model => model.additional_phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment)
                @Html.ValidationMessageFor(model => model.comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_of_flights, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number_of_flights)
                @Html.ValidationMessageFor(model => model.number_of_flights)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hours_in_flights, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hours_in_flights)
                @Html.ValidationMessageFor(model => model.hours_in_flights)
            </div>
        </div>

        @Html.HiddenFor(model => model.hire_date)

        <div class="form-group">
            @Html.LabelFor(model => model.date_of_dismissal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date_of_dismissal)
                @Html.ValidationMessageFor(model => model.date_of_dismissal)
            </div>
        </div>

        @Html.HiddenFor(model => model.city_of_residence)

        @Html.HiddenFor(model => model.type)

        @Html.HiddenFor(model => model.last_medical_examination)

        @Html.HiddenFor(model => model.brigade)

        @Html.HiddenFor(model => model.airport)

        @Html.HiddenFor(model => model.salary)

        <div class="form-group">
            @Html.LabelFor(model => model.childrencount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.childrencount)
                @Html.ValidationMessageFor(model => model.childrencount)
            </div>
        </div>

        @Html.HiddenFor(model => model.sex)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
